<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:insert="blocks/header :: site_design">
    <meta charset="UTF-8">
    <title>Painting Details</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h2 th:text="${painting.title}"></h2>

<div class = "painting_box">
    <a th:href="@{/images/fulls/}+${painting.path}" class="painting_image"><img class="painting_image" th:src="@{/images/fulls/}+${painting.path}" alt="" /></a>
</div>

<div class = "description_box">
    <p th:text="${painting.size}"></p>
    <p th:text="${painting.year}"></p>
    <p th:text="${painting.description}"></p>
</div>

<div th:insert="blocks/footer :: comments"></div>

<a th:href="'/special/details/'+${painting.id}+'/edit'">Edit...</a> <br/>
<form th:action="'/special/details/'+${painting.id}+'/delete'" method="post">
    <button type="submit" class="btn btn-warning">Delete</button>
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>