
<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">

	<head>
	<meta charset="utf-8">
	<title>Mykola Zhulinskyi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Mykola Zhulinskyi, painter, buy painting, art, fine art, best fine art, ukrainian art" />
	<meta name="author" content="Kateryna Kuntseva" />


  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

		<!--<link rel="stylesheet" href="../static/assets/css/main.css" th:href="@{/assets/css/main.css}" /> -->

		<!-- Animate.css -->
	<link rel="stylesheet" href="../static/assets/css/animate.css"  th:href="@{/assets/css/animate.css}" />
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/assets/css/icomoon.css"  th:href="@{/assets/css/icomoon.css}"/>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/assets/css/magnific-popup.css"  th:href="@{/assets/css/magnific-popup.css}" />
	<!-- Salvattore -->
	<link rel="stylesheet" href="../static/assets/css/salvattore.css"  th:href="@{/assets/css/salvattore.css}" />
	<!-- Theme Style -->
	<link rel="stylesheet" href="../static/assets/css/style.css"  th:href="@{/assets/css/style.css}" />
	<!-- Modernizr JS -->
	<script type="text/javascript" src="../static/assets/js/modernizr-2.6.2.min.js"  th:src="@{/assets/js/modernizr-2.6.2.min.js}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="../static/assets/js/respond.min.js"  th:src="@{/assets/js/respond.min.js}"></script>
	<![endif]-->

	</head>
	<body>
	<header th:insert="blocks/header :: header"></header>

	
	<div id="fh5co-main">
		<div class="container">

			<div class="row">

        <div id="fh5co-board" data-columns>

        	<div class="item"  th:each="p :${paintings}">
        		<div   class="animate-box">
	        		<a th:href="@{/images/fulls/}+${p.path}" class="image-popup fh5co-board-img"
					   th:title="${p.title}">
						<img th:src="@{/images/fulls/}+${p.path}" alt=""></a>
        		</div>
				<div class="fh5co-desc">
					<p th:text="${p.title}"></p>
					<a th:href="'/main/details/'+${p.id}">Details...</a>
				</div>
        	</div>


		</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer">
		
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="fh5co-social-icons">
						<a href="#"><i class="icon-facebook"></i></a>

					</p>
					</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script type="text/javascript" src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
	<!-- jQuery Easing -->
	<script type="text/javascript" src="../static/assets/js/jquery.easing.1.3.js" th:src="@{/assets/js/jquery.easing.1.3.js}"></script>
	<!-- Bootstrap -->
	<script type="text/javascript" src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- Waypoints -->
	<script type="text/javascript" src="../static/assets/js/jquery.waypoints.min.js" th:src="@{/assets/js/jquery.waypoints.min.js}"></script>
	<!-- Magnific Popup -->
	<script type="text/javascript" src="../static/assets/js/jquery.magnific-popup.min.js" th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
	<!-- Salvattore -->
	<script type="text/javascript" src="../static/assets/js/salvattore.min.js" th:src="@{/assets/js/salvattore.min.js}"></script>
	<!-- Main JS -->
	<script type="text/javascript" src="../static/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>

	

	
	</body>
</html>
