<html xmlns:th="http://www.thymeleaf.org">


    <head th:insert="blocks/header :: site_design">

        <title>Loading</title>


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!--style>
      body { padding-top: 80px; }
      form span { font-weight: bold; padding-right: 1em; display: block; }
      form input[type="submit"] { display: block; margin-top: 1em; }
      .greeting { padding-bottom: 0.5em; }
      .messages { border-top: 1px solid black }
      .message { display: block; }
      .message span { padding-top: 0.5em; }
      .message .username { font-weight: bold; width: 100px; float: left;}
    </style-->
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<div class="main container">
    <div class="input">
        <!-- Set form encoding type to multipart form data -->
        <form action="/special/save_painting" method="post" enctype="multipart/form-data">
            <span>Painting title:</span><input type="text" name="title" th:value="${title}"/> <br/>
            <span>File:</span>
            <input type="file" name="file" accept=".jpg, image/jpeg"/><br/>

            <span>Size:</span><input type="text" name="size" th:value="${size}"/> <br/>
            <span>Year:</span><input type="text" name="year" th:value="${year}"/> <br/>
            <span>Description:</span> <p><textarea name="description" th:value="${description}"> </textarea></p> <br/>
 <input type="submit" value="Save"/>
        </form>
    </div>

</div>

<p th:text="${message}"   /> </br>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>

