<div th:fragment="header">
    <ul id="main_nav">
        <li><a href="#">О компании</a></li>
        <li><a href="#">Услуги</a>
            <ul>
                <li><a href="#">Все виды оценки</a></li>
                <li><a href="#">Автоэкспертиза</a></li>
                <li><a href="#">Автострахование</a></li>
                <li><a href="#">Юридические услуги</a></li>
            </ul><!--end sub_nav-->
        </li>
        <li><a href="#">Тарифы</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Контакты</a></li>
    </ul><!--end main_nav-->
</div>
