<div th:fragment="site_design">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Mykola Zhulinskyi, painter, buy painting, art, fine art, best fine art, ukrainian art" />
    <meta name="author" content="Kateryna Kuntseva" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!--<link rel="stylesheet" href="../static/assets/css/main.css" th:href="@{/assets/css/main.css}" /> -->
    <link rel="stylesheet" href="../static/assets/css/main.css" th:href="@{/assets/css/main.css}" />
    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/assets/css/animate.css"  th:href="@{/assets/css/animate.css}" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../static/assets/css/icomoon.css"  th:href="@{/assets/css/icomoon.css}"/>
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css"  th:href="@{/assets/css/magnific-popup.css}" />
    <!-- Salvattore -->
    <link rel="stylesheet" href="../static/assets/css/salvattore.css"  th:href="@{/assets/css/salvattore.css}" />
    <!-- Theme Style -->
    <link rel="stylesheet" href="../static/assets/css/style.css"  th:href="@{/assets/css/style.css}" />
    <!-- Modernizr JS -->
    <script type="text/javascript" src="../static/assets/js/modernizr-2.6.2.min.js"  th:src="@{/assets/js/modernizr-2.6.2.min.js}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../static/assets/js/respond.min.js"  th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->

</div>

<div th:fragment="header">
    <div id="fh5co-offcanvass">
        <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>

        <ul>
            <li><a href="/main/home">Gallery</a></li>
            <li><a href="/special/load">Loading</a></li>
            <li><a href="/main/contact">Contact</a></li>
        </ul>
        <h3 class="fh5co-lead">Connect with us</h3>
        <p class="fh5co-social-icons">
            <a href="#"><i class="icon-facebook"></i></a>

        </p>
    </div>
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
                </div>
            </div>
        </div>
    </header>

    <div>
        <!--action="/auth/logout" links with .logoutRequestMatcher(new AntPathRequestMatcher("/auth/logout", "POST")) -->
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>



