<div th:fragment="header">
    <div id="fh5co-offcanvass">
        <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
        <h1 class="fh5co-logo"><a class="navbar-brand" href="index.html">Gallery</a></h1>
        <ul>
            <li class="active"><a href="/home">Gallery</a></li>
            <li><a href="/load">Loading</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <h3 class="fh5co-lead">Connect with us</h3>
        <p class="fh5co-social-icons">
            <a href="#"><i class="icon-facebook"></i></a>

        </p>
    </div>
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
                    <a class="navbar-brand" href="/index">Gallery</a>
                </div>
            </div>
        </div>
    </header>

    <div>
        <!--action="/auth/logout" links with .logoutRequestMatcher(new AntPathRequestMatcher("/auth/logout", "POST")) -->
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>
